{% from "components.html" import sidebar %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/chartist/dist/chartist.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <title>ICTC | {{ page_title }}</title>
    </head>
    <body>
        <div id="ictc-st-mf" class="container-fluid mb-3">
            <div class="row d-flex justify-content-center">
                <div class="mf-sb col-2 p-0">
                    {{ sidebar(page_title) }}
                </div>
                <div class="mf-cc col-10 p-0">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        {% block fronters %}{% endblock fronters %}
        <div class="alert-frame container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show small" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <script src="{{ url_for('static', filename='node_modules/chartist/dist/chartist.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>