{% extends "layout.html" %}

{% block content %}
    <nav class="rq-tb container-fluid rounded position-fixed box-shadow d-flex flex-column px-0">
        <span class="rq-tb-pn p-3 font-weight-bold">
            Requests
        </span>
        <div class="rq-tb-aa border-top d-flex justify-content-between">
            <div class="rq-tb-no dropdown w-50">
                <div class="px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #
                </div>
            </div>
            <div class="rq-tb-da dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Date
                </div>
                <form class="dropdown-menu">
                    <div class="container-fluid">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                        <div class="tb-da-y form-group">
                            <label class="font-weight-light small">Year</label>
                            <select class="form-control form-control-sm"></select>
                        </div>
                        <div class="tb-da-m form-group">
                            <label class="font-weight-light small">Month</label>
                            <select class="form-control form-control-sm">
                                <option value="0" selected>All</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <a class="btn btn-outline-primary btn-sm btn-block" role="button">
                            <small>Filter</small>
                        </a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-o dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Office
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-offc-mdl">
                            <small>
                                Manage offices
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-m dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mode
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-md-mdl">
                            <small>
                                Manage modes
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-na dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nature
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-ntr-mdl">
                            <small>
                                Manage natures
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-de dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Detail
                </div>
                <form class="dropdown-menu">
                    <div class="container-fluid">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                        <div class="form-group">
                            <label class="font-weight-light small">Type a keyword</label>
                            <input class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <a class="btn btn-outline-primary btn-sm btn-block" role="button">
                            <small>
                                Search
                            </small>
                        </a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-t dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Technician
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-tch-mdl">
                            <small>
                                Manage technicians
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-re dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Result
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                        <a class="font-weight-light small" value="0">Done</a>
                        <a class="font-weight-light small" value="1">Pending</a>
                        <a class="font-weight-light small" value="2">Cancelled</a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-ra dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rating
                </div>
                <form class="dropdown-menu">
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <h6 class="font-weight-bold small text-muted">Filter by</h6>
                        <a class="font-weight-light small" value="0">Excellent</a>
                        <a class="font-weight-light small" value="1">Very good</a>
                        <a class="font-weight-light small" value="2">Good</a>
                        <a class="font-weight-light small" value="3">Fair</a>
                        <a class="font-weight-light small" value="4">Poor</a>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="rq-tc-dvd"></div>
    <div class="rq-lg list-group">
        <div id="rq-lg-i" class="border rounded mb-1 bg-light box-shadow px-0 py-1 d-flex justify-content-between align-items-center small text-muted font-weight-light">
            <div class="rq-li-no w-50 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-da w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-o w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-mo w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-na w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-de w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-t w-100 d-flex text-left justify-content-center align-items-center"></div>
            <div class="rq-li-re w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-ra w-100 d-flex text-center justify-content-center align-items-center"></div>
        </div>
    </div>
{% endblock content %}

{% block fronters %}
    <a class="frcr-cnt" data-toggle="modal" data-target="#crt-rq-mdl">
        <img class="frcr-btn" src="{{ url_for('static', filename='assets/add.svg') }}">
    </a> 
    <div class="modal fade" id="crt-rq-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="POST" action="" enctype="multipart/form-data">
                {{ createRequestForm.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small class="text-muted" aria-hidden="true">&times;</small>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="crt-rq-pf form-group">
                        <div class="drop-zone rounded">
                            {{ createRequestForm.photo_fn_input(class="position-absolute", accept=".jpg, .jpeg, .png") }}
                            <small class="text-muted drop-zone__prompt d-flex flex-row">
                                <img class="prompt__load-photo mx-2" src="{{ url_for('static', filename='assets/file-upload.svg') }}">
                                <img class="prompt__dispose-photo mx-2 d-none" src="{{ url_for('static', filename='assets/file-dispose.svg') }}">
                            </small>
                        </div>
                        {% if createRequestForm.photo_fn_input.errors %}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.photo_fn_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-no fg-md form-group">
                        {{ createRequestForm.no_input.label }}
                        {% if createRequestForm.no_input.errors %}
                            {{ createRequestForm.no_input(class="form-control form-control-sm is-invalid", pattern="([1-9]|1[012])-([1-9]|([1-9][0-9]))+") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.no_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.no_input(class="form-control form-control-sm", pattern="([1-9]|1[012])-([1-9]|([1-9][0-9]))+") }}
                            <div class="invalid-feedback"></div>
                            <div class="valid-feedback"></div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-da fg-md form-group">
                        {{ createRequestForm.date_input.label }}
                        {% if createRequestForm.date_input.errors %}
                            {{ createRequestForm.date_input(class="custom-select custom-select-sm is-invalid", pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.date_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.date_input(class="form-control form-control-sm", pattern="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-o fg-md form-group">
                        {{ createRequestForm.office_input.label }}
                        {% if createRequestForm.office_input.errors %}
                            {{ createRequestForm.office_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.office_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.office_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-m fg-md form-group">
                        {{ createRequestForm.mode_input.label }}
                        {% if createRequestForm.mode_input.errors %}
                            {{ createRequestForm.mode_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.mode_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.mode_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-na fg-md form-group">
                        {{ createRequestForm.nature_input.label }}
                        {% if createRequestForm.nature_input.errors %}
                            {{ createRequestForm.nature_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.nature_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.nature_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-de fg-lg form-group">
                        {{ createRequestForm.detail_input.label }}
                        {% if createRequestForm.detail_input.errors %}
                            {{ createRequestForm.detail_input(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.detail_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.detail_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-t fg-xlg form-group">
                        {{ createRequestForm.technician_input.label }}
                        {% if createRequestForm.technician_input.errors %}
                            {{ createRequestForm.technician_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.technician_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.technician_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-re fg-md form-group">
                        {{ createRequestForm.result_input.label }}
                        {% if createRequestForm.result_input.errors %}
                            <div class="form-control form-control-sm is-invalid">
                                {% for subfield in createRequestForm.result_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", required=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.result_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="form-control form-control-sm">
                                {% for subfield in createRequestForm.result_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", required=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-ra fg-md form-group">
                        {{ createRequestForm.rating_input.label }}
                        {% if createRequestForm.rating_input.errors %}
                            <div class="form-control form-control-sm is-invalid">
                                {% for subfield in createRequestForm.rating_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", disabled=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.rating_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="form-control form-control-sm">
                                {% for subfield in createRequestForm.rating_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", disabled=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {{ createRequestForm.submit_input(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="mng-md-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centemodal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Manage modes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex flex-row">
                            <input class="form-control form-control-sm">
                            <button type="button" class="btn btn-primary btn-sm ml-2 px-5">Create</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Walk-in</span>
                            <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Phone</span>
                            <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Email</span>
                            <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mng-ntr-mdl" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-row">
                        <input class="form-control form-control-sm">
                        <button type="button" class="btn btn-primary btn-sm ml-2 px-5">Create</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Internet</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Software assistance</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Printer</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="mng-offc-mdl" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage offices</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-row">
                        <input class="form-control form-control-sm">
                        <button type="button" class="btn btn-primary btn-sm ml-2 px-5">Create</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>City registrar's office</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>City legal office</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>City engineer's office</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="mng-tch-mdl" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Manage</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex flex-row">
                        <input class="form-control form-control-sm">
                        <button type="button" class="btn btn-primary btn-sm ml-2 px-5">Create</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Gino Mascariñas</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Chuckie Razuman</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Jonas Serino</span>
                        <button type="button" class="btn btn-outline-danger btn-sm ml-2 px-5">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock fronters %}