{% extends "layout.html" %}

{% block content %}
    <nav class="rq-tb container-fluid rounded position-fixed box-shadow d-flex flex-column px-0">
        <span class="rq-tb-pn p-3 font-weight-bold">
            Requests
        </span>
        <div class="rq-tb-aa border-top d-flex justify-content-between">
            <div class="rq-tb-no dropdown w-50">
                <div class="px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    #
                </div>
            </div>
            <div class="rq-tb-da dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Date
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="container-fluid">
                        <div class="tb-da-y form-group">
                            <label class="font-weight-light small">Year</label>
                            <select class="form-control form-control-sm">
                                
                            </select>
                        </div>
                        <div class="tb-da-m form-group">
                            <label class="font-weight-light small">Month</label>
                            <select class="form-control form-control-sm">
                                <option value="0" selected>All</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <a class="btn btn-outline-primary btn-sm btn-block" role="button">
                            <small>Filter</small>
                        </a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-o dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Office
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont tb-opt-cont-long container-fluid d-flex flex-column"></div>
                    <div class="dropdown-divider mt-0"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-offc-mdl">
                            <small>
                                Manage offices
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-m dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mode
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont tb-opt-cont-long container-fluid d-flex flex-column"></div>
                    <div class="dropdown-divider mt-0"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-md-mdl">
                            <small>
                                Manage modes
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-na dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nature
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont tb-opt-cont-long container-fluid d-flex flex-column"></div>
                    <div class="dropdown-divider mt-0"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-ntr-mdl">
                            <small>
                                Manage natures
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-de dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Detail
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="container-fluid">
                        <div class="form-group">
                            <label class="font-weight-light small">Type a keyword</label>
                            <input class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="container-fluid">
                        <a class="btn btn-outline-primary btn-sm btn-block" role="button">
                            <small>
                                Search
                            </small>
                        </a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-t dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Technician
                </div>
                <form class="dropdown-menu pt-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont tb-opt-cont-long container-fluid d-flex flex-column"></div>
                    <div class="dropdown-divider mt-0"></div>
                    <div class="container-fluid">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block" data-toggle="modal" data-target="#mng-tch-mdl">
                            <small>
                                Manage technicians
                            </small>
                        </button>
                    </div>
                </form>
            </div>
            <div class="rq-tb-re dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Result
                </div>
                <form class="dropdown-menu py-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <a class="font-weight-light small" value="0">Done</a>
                        <a class="font-weight-light small" value="1">Pending</a>
                        <a class="font-weight-light small" value="2">Cancelled</a>
                    </div>
                </form>
            </div>
            <div class="rq-tb-ra dropdown w-100">
                <div class="list-group-item-action px-2 py-3 text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rating
                </div>
                <form class="dropdown-menu py-0">
                    <h6 class="font-weight-bold small text-muted mx-3 mt-3 mb-2">Filter by</h6>
                    <div class="dropdown-divider mb-0"></div>
                    <div class="tb-opt-cont container-fluid d-flex flex-column">
                        <a class="font-weight-light small" value="0">Excellent</a>
                        <a class="font-weight-light small" value="1">Very good</a>
                        <a class="font-weight-light small" value="2">Good</a>
                        <a class="font-weight-light small" value="3">Fair</a>
                        <a class="font-weight-light small" value="4">Poor</a>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="rq-tc-dvd"></div>
    <div class="rq-lg list-group">
        <div id="rq-lg-i" class="border rounded mb-1 bg-light box-shadow px-0 py-1 d-flex justify-content-between align-items-center small text-muted font-weight-light">
            <div class="rq-li-no w-50 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-da w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-o w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-mo w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-na w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-de w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-t w-100 d-flex text-left justify-content-center align-items-center"></div>
            <div class="rq-li-re w-100 d-flex text-center justify-content-center align-items-center"></div>
            <div class="rq-li-ra w-100 d-flex text-center justify-content-center align-items-center"></div>
        </div>
        <div class="rq-ld-sp mt-3">
            <div class="d-flex align-items-center justify-content-center">
                 <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                 </div>
            </div>
        </div>
        <div class="rq-lg-empty mt-3 d-none">
            <div class="d-flex align-items-center justify-content-center">
                    No requests found.
            </div>
        </div>
        <div class="rq-lg-paginate-impasse mt-3 d-none">
            <div class="d-flex align-items-center justify-content-center">
                    You have reached the end of the list.
            </div>
        </div>
    </div>
{% endblock content %}

{% block fronters %}
    <a class="frcr-cnt" data-toggle="modal" data-target="#crt-rq-mdl">
        <img class="frcr-btn" src="{{ url_for('static', filename='assets/add.svg') }}">
    </a> 
    <div class="modal fade" id="crt-rq-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <form class="modal-content" method="POST" action="" enctype="multipart/form-data">
                {{ createRequestForm.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <small class="text-muted" aria-hidden="true">&times;</small>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="crt-rq-pf form-group">
                        <div class="drop-zone border rounded">
                            <div class="position-absolute">
                                {{ createRequestForm.crtrq_photo_fn_input(class="small", accept=".jpg, .jpeg, .png") }}
                            </div>
                            <small class="text-muted drop-zone__prompt d-flex flex-row">
                                <img class="prompt__load-photo mx-2" src="{{ url_for('static', filename='assets/file-upload.svg') }}">
                                <img class="prompt__dispose-photo mx-2 d-none" src="{{ url_for('static', filename='assets/file-dispose.svg') }}">
                            </small>
                        </div>
                        {% if createRequestForm.crtrq_photo_fn_input.errors %}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_photo_fn_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-da fg-md form-group">
                        {{ createRequestForm.crtrq_date_input.label }}
                        {% if createRequestForm.crtrq_date_input.errors %}
                            {{ createRequestForm.crtrq_date_input(class="form-control form-control-sm is-invalid", min="2015-01-01", max="") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_date_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            <div class="valid-feedback"></div>
                        {% else %}
                            {{ createRequestForm.crtrq_date_input(class="form-control form-control-sm", min="2015-01-01", max="") }}
                            <div class="invalid-feedback"></div>
                            <div class="valid-feedback"></div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-no fg-md form-group">
                        {{ createRequestForm.crtrq_no_input.label }}
                        {% if createRequestForm.crtrq_no_input.errors %}
                            {{ createRequestForm.crtrq_no_input(class="form-control form-control-sm is-invalid", pattern="([1-9]|1[012])-[1-9]|[1-9]^[0-9]") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_no_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                            <div class="valid-feedback"></div>
                        {% else %}
                            {{ createRequestForm.crtrq_no_input(class="form-control form-control-sm", pattern="([1-9]|1[012])-[1-9]|[1-9]^[0-9]") }}
                            <div class="invalid-feedback"></div>
                            <div class="valid-feedback"></div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-o fg-md form-group">
                        {{ createRequestForm.crtrq_office_input.label }}
                        {% if createRequestForm.crtrq_office_input.errors %}
                            {{ createRequestForm.crtrq_office_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_office_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.crtrq_office_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-m fg-md form-group">
                        {{ createRequestForm.crtrq_mode_input.label }}
                        {% if createRequestForm.crtrq_mode_input.errors %}
                            {{ createRequestForm.crtrq_mode_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_mode_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.crtrq_mode_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-na fg-md form-group">
                        {{ createRequestForm.crtrq_nature_input.label }}
                        {% if createRequestForm.crtrq_nature_input.errors %}
                            {{ createRequestForm.crtrq_nature_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_nature_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.crtrq_nature_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-de fg-lg form-group">
                        {{ createRequestForm.crtrq_detail_input.label }}
                        {% if createRequestForm.crtrq_detail_input.errors %}
                            {{ createRequestForm.crtrq_detail_input(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_detail_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.crtrq_detail_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-t fg-xlg form-group">
                        {{ createRequestForm.crtrq_technician_input.label }}
                        {% if createRequestForm.crtrq_technician_input.errors %}
                            {{ createRequestForm.crtrq_technician_input(class="custom-select custom-select-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_technician_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ createRequestForm.crtrq_technician_input(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="crt-rq-re fg-md form-group">
                        {{ createRequestForm.crtrq_result_input.label }}
                        {% if createRequestForm.crtrq_result_input.errors %}
                            <div class="form-control form-control-sm is-invalid">
                                {% for subfield in createRequestForm.crtrq_result_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", required=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_result_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="form-control form-control-sm">
                                {% for subfield in createRequestForm.crtrq_result_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input", required=true) }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="crt-rq-ra fg-md form-group">
                        {{ createRequestForm.crtrq_rating_input.label }}
                        {% if createRequestForm.crtrq_rating_input.errors %}
                            <div class="form-control form-control-sm is-invalid">
                                {% for subfield in createRequestForm.crtrq_rating_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input") }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="invalid-feedback">
                                {% for error in createRequestForm.crtrq_rating_input.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="form-control form-control-sm">
                                {% for subfield in createRequestForm.crtrq_rating_input %}
                                    <div class="form-check form-check-inline small">
                                        {{ subfield(class="form-check-input") }}
                                        {{ subfield.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mdl-frm-aa">
                        <button type="button" class="btn btn-secondary btn-sm small mr-1">Close</button>
                        {{ createRequestForm.crtrq_submit_input(class="btn btn-primary btn-sm small ml-1") }}
                    </div>
                    <span class="d-none text-danger small">This will erase all you have inputted. Continue?</span>
                    <div class="mdl-cls-final d-none">
                        <button type="button" class="btn btn-outline-danger btn-sm small mr-1">Cancel</button>
                        <button type="button" class="btn btn-danger btn-sm small ml-1" data-dismiss="modal">Exit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="mng-offc-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage offices</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="" id="mdl-hdr-crtof" class="modal-header d-flex flex-row pr-4">
                    {{ createOfficeForm.hidden_tag() }}
                    {% if createOfficeForm.crtof_name_input.errors %}
                        {{ createOfficeForm.crtof_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ createOfficeForm.crtof_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    {{ createOfficeForm.crtof_submit_input(class="btn btn-primary btn-sm ml-4 px-5") }}
                </form>
                <form method="POST" action="" id="mdl-hdr-edtof" class="modal-header d-none pr-4">
                    {{ editOfficeForm.hidden_tag() }}
                    {{ editOfficeForm.edtof_id_input(class="d-none") }}
                    {% if editOfficeForm.edtof_name_input.errors %}
                        {{ editOfficeForm.edtof_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ editOfficeForm.edtof_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    <div class="d-flex flex-row ml-4">
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="createOffice(this);">
                            Cancel
                        </button>
                        {{ editOfficeForm.edtof_submit_input(class="btn btn-secondary btn-sm ml-1") }}
                    </div>
                </form>
                <form method="POST" action="" id="mdl-hdr-deltof" class="modal-header d-none pr-4">
                    {{ deleteOfficeForm.hidden_tag() }}
                    {{ deleteOfficeForm.deltof_id_input(class="d-none") }}
                    {% if deleteOfficeForm.deltof_name_input.errors %}
                        {{ deleteOfficeForm.deltof_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ deleteOfficeForm.deltof_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    <div class="d-flex flex-row ml-4">
                        <button type="button" class="btn btn-outline-danger btn-sm mr-1" onclick="createOffice(this);">
                            Cancel
                        </button>
                        {{ deleteOfficeForm.deltof_submit_input(class="btn btn-danger btn-sm ml-1") }}
                    </div>
                </form>
                <div class="modal-body p-0" style="overflow-y: scroll;">
                    <ul class="list-group list-group-flush">
                        <li id="mng-offc-mdl-i" class="d-flex align-items-center justify-content-between pr-2">
                            <span></span>
                            <div class="d-flex flex-row ml-3">
                                <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="editOffice(this);">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm ml-1" onclick="deleteOffice(this);">
                                    Delete
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mng-md-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centemodal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage modes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="" id="mdl-hdr-crtmd" class="modal-header d-flex flex-row pr-4">
                    {{ createModeForm.hidden_tag() }}
                    {% if createModeForm.crtmd_name_input.errors %}
                        {{ createModeForm.crtmd_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ createModeForm.crtmd_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    {{ createModeForm.crtmd_submit_input(class="btn btn-primary btn-sm ml-4 px-5") }}
                </form>
                <form method="POST" action="" id="mdl-hdr-edtmd" class="modal-header d-none pr-4">
                    {{ editModeForm.hidden_tag() }}
                    {{ editModeForm.edtmd_id_input(class="d-none") }}
                    {% if editModeForm.edtmd_name_input.errors %}
                        {{ editModeForm.edtmd_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ editModeForm.edtmd_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    <div class="d-flex flex-row ml-4">
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="createMode(this);">
                            Cancel
                        </button>
                        {{ editModeForm.edtmd_submit_input(class="btn btn-secondary btn-sm ml-1") }}
                    </div>
                </form>
                <form method="POST" action="" id="mdl-hdr-deltmd" class="modal-header d-none pr-4">
                    {{ deleteModeForm.hidden_tag() }}
                    {{ deleteModeForm.deltmd_id_input(class="d-none") }}
                    {% if deleteModeForm.deltmd_name_input.errors %}
                        {{ deleteModeForm.deltmd_name_input(class="form-control form-control-sm is-invalid") }}
                    {% else %}
                        {{ deleteModeForm.deltmd_name_input(class="form-control form-control-sm") }}
                    {% endif %}
                    <div class="d-flex flex-row ml-4">
                        <button type="button" class="btn btn-outline-danger btn-sm mr-1" onclick="createMode(this);">
                            Cancel
                        </button>
                        {{ deleteModeForm.deltmd_submit_input(class="btn btn-danger btn-sm ml-1") }}
                    </div>
                </form>
                <div class="modal-body p-0" style="overflow-y: scroll;">
                    <ul class="list-group list-group-flush">
                        <li id="mng-md-mdl-i" class="d-flex align-items-center justify-content-between pr-2">
                            <span></span>
                            <div class="d-flex flex-row ml-3">
                                <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="editMode(this);">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-outline-danger btn-sm ml-1" onclick="deleteMode(this);">
                                    Delete
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="mng-ntr-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage natures</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" id="mdl-hdr-crtntr" class="modal-header d-flex flex-row pr-4">
                {{ createNatureForm.hidden_tag() }}
                {% if createNatureForm.crtnt_name_input.errors %}
                    {{ createNatureForm.crtnt_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ createNatureForm.crtnt_name_input(class="form-control form-control-sm") }}
                {% endif %}
                {{ createNatureForm.crtnt_submit_input(class="btn btn-primary btn-sm ml-4 px-5") }}
            </form>
            <form method="POST" action="" id="mdl-hdr-edtntr" class="modal-header d-none pr-4">
                {{ editNatureForm.hidden_tag() }}
                {{ editNatureForm.edtnt_id_input(class="d-none") }}
                {% if editNatureForm.edtnt_name_input.errors %}
                    {{ editNatureForm.edtnt_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ editNatureForm.edtnt_name_input(class="form-control form-control-sm") }}
                {% endif %}
                <div class="d-flex flex-row ml-4">
                    <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="createNature(this);">
                        Cancel
                    </button>
                    {{ editNatureForm.edtnt_submit_input(class="btn btn-secondary btn-sm ml-1") }}
                </div>
            </form>
            <form method="POST" action="" id="mdl-hdr-deltntr" class="modal-header d-none pr-4">
                {{ deleteNatureForm.hidden_tag() }}
                {{ deleteNatureForm.deltnt_id_input(class="d-none") }}
                {% if deleteNatureForm.deltnt_name_input.errors %}
                    {{ deleteNatureForm.deltnt_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ deleteNatureForm.deltnt_name_input(class="form-control form-control-sm") }}
                {% endif %}
                <div class="d-flex flex-row ml-4">
                    <button type="button" class="btn btn-outline-danger btn-sm mr-1" onclick="createNature(this);">
                        Cancel
                    </button>
                    {{ deleteNatureForm.deltnt_submit_input(class="btn btn-danger btn-sm ml-1") }}
                </div>
            </form>
            <div class="modal-body p-0" style="overflow-y: scroll;">
                <ul class="list-group list-group-flush">
                    <li id="mng-ntr-mdl-i" class="d-flex align-items-center justify-content-between pr-2">
                        <span></span>
                        <div class="d-flex flex-row ml-3">
                            <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="editNature(this);">
                                Edit
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm ml-1" onclick="deleteNature(this);">
                                Delete
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="mng-tch-mdl" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Manage technicians</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="" id="mdl-hdr-crttch" class="modal-header d-flex flex-row pr-4">
                {{ createTechnicianForm.hidden_tag() }}
                {% if createTechnicianForm.crttc_name_input.errors %}
                    {{ createTechnicianForm.crttc_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ createTechnicianForm.crttc_name_input(class="form-control form-control-sm") }}
                {% endif %}
                {{ createTechnicianForm.crttc_submit_input(class="btn btn-primary btn-sm ml-4 px-5") }}
            </form>
            <form method="POST" action="" id="mdl-hdr-edttch" class="modal-header d-none pr-4">
                {{ editTechnicianForm.hidden_tag() }}
                {{ editTechnicianForm.edttc_id_input(class="d-none") }}
                {% if editTechnicianForm.edttc_name_input.errors %}
                    {{ editTechnicianForm.edttc_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ editTechnicianForm.edttc_name_input(class="form-control form-control-sm") }}
                {% endif %}
                <div class="d-flex flex-row ml-4">
                    <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="createTechnician(this);">
                        Cancel
                    </button>
                    {{ editTechnicianForm.edttc_submit_input(class="btn btn-secondary btn-sm ml-1") }}
                </div>
            </form>
            <form method="POST" action="" id="mdl-hdr-delttch" class="modal-header d-none pr-4">
                {{ deleteTechnicianForm.hidden_tag() }}
                {{ deleteTechnicianForm.delttc_id_input(class="d-none") }}
                {% if deleteTechnicianForm.delttc_name_input.errors %}
                    {{ deleteTechnicianForm.delttc_name_input(class="form-control form-control-sm is-invalid") }}
                {% else %}
                    {{ deleteTechnicianForm.delttc_name_input(class="form-control form-control-sm") }}
                {% endif %}
                <div class="d-flex flex-row ml-4">
                    <button type="button" class="btn btn-outline-danger btn-sm mr-1" onclick="createTechnician(this);">
                        Cancel
                    </button>
                    {{ deleteTechnicianForm.delttc_submit_input(class="btn btn-danger btn-sm ml-1") }}
                </div>
            </form>
            <div class="modal-body p-0" style="overflow-y: scroll;">
                <ul class="list-group list-group-flush">
                    <li id="mng-tch-mdl-i" class="d-flex align-items-center justify-content-between pr-2">
                        <span></span>
                        <div class="d-flex flex-row ml-3">
                            <button type="button" class="btn btn-outline-secondary btn-sm mr-1" onclick="editTechnician(this);">
                                Edit
                            </button>
                            <button type="button" class="btn btn-outline-danger btn-sm ml-1" onclick="deleteTechnician(this);">
                                Delete
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock fronters %}