body {
  overflow-y: scroll;
  overflow-x: hidden;
  background: lavender;
}

#ictc-st-mf > .row > .mf-sb > .position-fixed {
  z-index: 10;
}

#ictc-st-mf > .row > .mf-sb > .position-fixed > .card > .mt-5 > a:hover {
  text-decoration: none;
}

#ictc-st-mf > .row > .mf-sb > .position-fixed > .card > .align-items-center > img {
  width: 130px;
}

#ictc-st-mf > .row > .mf-cc > nav,
#ictc-st-mf > .row > .mf-cc > div {
  width: 1100px;
}

#ictc-st-mf > .row > .mf-cc > .rq-tb,
#ictc-st-mf > .row > .mf-cc > .db-tb {
  z-index: 5;
  background-color: #F0F0F0;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#ictc-st-mf > .row > .mf-cc > .rq-tc-dvd {
  height: 120px;
}

#ictc-st-mf > .row > .mf-cc > .rq-tb > .rq-tb-aa > .dropdown > .list-group-item-action:hover {
  cursor: pointer;
}

#ictc-st-mf > .row > .mf-cc > .rq-lg > .list-group-item:hover {
  cursor: pointer;
}

#ictc-st-mf > .row > .mf-cc > .rq-lg > .list-group-item > div {
  white-space: nowrap;
  overflow: hidden;
}

#ictc-st-mf > .row > .mf-cc > .rq-lg > .list-group-item:active div {
  max-height: auto;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  -webkit-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}

#ictc-st-mf > .row > .mf-cc > .rq-lg > .list-group-item > div > span {
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ictc-st-mf > .row > .mf-cc > .db-tc-dvd {
  height: 64px;
}

#ictc-st-mf > .row > .mf-cc > .db-cc-fi > .container-fluid > .card > .card-img {
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.5;
}

#ictc-st-mf > .row > .mf-cc > .db-cc-cs > div > .card > .card-body > .cs-dvd {
  height: 50px;
}

#chart2 > .ct-chart-pie {
  overflow: visible;
}

#chart2 > .ct-chart-pie > .ct-series-a > .ct-slice-pie {
  fill: #00ff00;
}

#chart2 > .ct-chart-pie > .ct-series-b > .ct-slice-pie {
  fill: #7FFF00;
}

#chart2 > .ct-chart-pie > .ct-series-c > .ct-slice-pie {
  fill: yellow;
}

#chart2 > .ct-chart-pie > .ct-series-d > .ct-slice-pie {
  fill: orange;
}

#chart2 > .ct-chart-pie > .ct-series-e > .ct-slice-pie {
  fill: red;
}

.frcr-cnt {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 17.5px;
  background-color: #007bff;
  border-radius: 50%;
  z-index: 1000;
}

.frcr-cnt > .frcr-btn {
  position: relative;
  width: 50px;
  margin: 0 auto;
  -webkit-animation: rotate-in 0.5s;
          animation: rotate-in 0.5s;
}

.frcr-cnt:active .frcr-btn {
  -webkit-animation: rotate-out 0.5s;
          animation: rotate-out 0.5s;
}

.drop-zone {
  height: 200px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: lightgray;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 10px -7.5px #888888;
          box-shadow: 1px 1px 10px -7.5px #888888;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

.orange {
  background-color: orange;
}

.violet {
  background-color: violet;
}

.cyan {
  background-color: cyan;
}

.brown {
  background-color: brown;
}

.gray {
  background-color: gray;
}

@-webkit-keyframes rotate-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-in {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-out {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-out {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=main.css.map */